body {
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.navbar-link:hover {
  color: red;
}

.logout-link {
  float: right;
}    

footer {
  background: #2e2c9b;
  color: white;
  height: auto;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer a {
  color: white;
  float: right;
}    
