section.status-table {
  display: flex;
  justify-content: center;
}

.status-table table {
  border-spacing: 0;
}

.status-table th {
  padding: 8px 8px 8px 8px;
}

.magazine-name {
  padding-left: 8px;
}

.numeric-cell {
  text-align: center;
  min-width: 7em;
  padding: 5px;
}

.number-right-align {
  text-align: right;
  display: inline-block;
  min-width: 2.5em;
}

.wall-of-text {
  margin: 0 100px 0 100px;
}

.sample-search-links {
  display: flex;
}

.sample-search-column {
  flex: 50%;
}

.results-page {
  display: grid;
  grid-template-columns: 325px auto;
}

.results-pagination-info {
  text-align: right;
  font-size: 85%;
  padding-right: 0;
  min-height: 20px;
}

.results-table {
  line-height: 1.5rem;
  margin-left: 24px;
  width: 100%;
}

.results-table div:nth-of-type(odd) {
  background-color: #e2dff0;
}

.results-row {
  padding: 8px 12px 8px 12px;
  margin-right: 24px;
}

.results-row p {
  margin: 0;
}

.results-row a:hover {
  color: #ee0000;
}

fieldset.welcome {
  display: grid;
  grid-template-columns: 48% 50%;
}

.welcome-form .search-field {
  padding: 0 20px 0 20px;
}

.welcome-form .search-field label {
  text-align: left;
  color: #303060;
  margin-left: 12px;
  width: auto;
}

.welcome-form .search-field select,
.welcome-form .search-field input {
  margin: 0 12px 16px 12px;
}


.welcome-form input.btn-default {
  display: inline-block;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;
  height: 2.5rem;
  text-align: center;
  vertical-align: middle;
  width: auto;
  margin: 5px 5px 10px 32px;
  padding: 5px 12px 5px 12px;  
  background-color: #5c4ea5;
  color: #f8f8f8;
  border: solid 1px #4c3e95;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.25s ease-in-out;
}

.welcome-form input.btn-default:hover {
  background: #6c5eb5;
}

.welcome-form a.btn-clear {
  display: inline-block;
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;  
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  width: auto;
  margin: 5px 5px 10px 15px;
  padding: 6px 12px 6px 12px;
  background-color: #efefef;
  color: #363b3f;
  border: solid 1px #c9d0d6;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.25s ease-in-out;
}

.welcome-form a.btn-clear:hover {
  background: #c9d0d6;
}