.index-table {
  line-height: 2rem;
  margin-top: 20px;
  padding-right: 24px;
  width: 100%;
}

.index-table tr {
  display: grid;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e2dff0;
}

.index-table tr.issue-index-row {
  grid-template-columns: 2fr 1fr 1fr 1fr 2.5rem 2.5rem;
}

.index-table tr.magazine-index-row {
  grid-template-columns: 1fr 1fr 1fr;
}

.index-table th {
  padding: 8px 8px 0px 8px;
  text-align: left;
}

.index-table td {
  padding: 8px 8px 8px 8px;
}

.index-table td.action a {
  color: #5c4ea5;
}

.index-table td.action a:hover {
  color: #cc0000;
}
