.index-table {
  line-height: 1.5rem;
  padding-right: 24px;
  width: 100%;
}

.index-table tr {
  display: grid;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e2dff0;
}

.index-table tr.article-index-row {
  grid-template-columns: 2fr 1fr 1fr 1fr 2.5rem 2.5rem;
}

.index-table tr.issue-index-row {
  grid-template-columns: 2fr 1fr 1fr 1fr 2.5rem 2.5rem;
}

.index-table tr.magazine-index-row {
  grid-template-columns: 1fr 1fr 1fr;
}

.index-table th {
  padding: 8px 8px 8px 8px;
  text-align: left;
}

.index-table td {
  padding: 4px 8px 4px 8px;
}

.index-table td.action a {
  color: #5c4ea5;
}

.index-table td.action a:hover {
  color: #cc0000;
}

.pagination-info {
  text-align: right;
  font-size: 85%;
  padding-right: 24px;
  min-height: 20px;
}

nav.pagination a:visited {
  color: #0000ee;
}

nav.pagination a:hover {
  color: #cc0000;
}
