<div class="public-page-title">
  <%= image_tag('about.png', alt: 'About this project', class: 'page-title-png') %>
</div>

<p>The <i>Commodore 8-bit Magazine Index</i> is a detailed catalogue of the articles published in 8-bit Commodore-specific print magazines.</p>

<p>The ultimate goal is to catalogue everything (except advertising), but for the first phase, I've made the decision to limit the catalog to
<em>reviews</em>, <em>type-ins</em>, and <em>articles</em>. What constitutes an article in Phase I is a bit arbitirary but it may be easier
to describe what <em>isn't</em> making the initial cut. I'm omitting editorials, reader letters, press releases, lists of products or news bites
without context, cute sidebars, puzzles, contests, jokes, and trivia. I did make an exception for Jim Brain's <i>Commodore Trivia</i>
published in <i>Commodore World</i> for three reasons: (1) Jim describes his trivia questions as his "gift to the community at large"
and I think that deserves some recognition, (2) the trivia represents a rare bit of cross-talk between Usenet and a print publication, and
(3) some of the discussions of trivia answers are detailed enough to be articles in their own right.</p>

<p>I'm also leaving out regular features that consist entirely of helpful hints and programming snippets, so columns like <i>RUN's "Magic"</i> or
<i>Transactor's "Bits"</i> have been omitted. These columns absolutely deserve to be indexed but that's too big a job for Phase I.</p>

<p>I have to admit, this index is biased towards North American publications but these are the magazines I grew up with here in Canada,
so it only makes sense to start with what I know. I've never been terribly interested in game-review magazines, so I didn't spend any
time with <i>Zzap!</i>, <i>Commodore Format</i>, or any similar game magazines published in the UK, but I do hope I get the opportunity
to learn about any non-game-centric magazines that were published outside of my home continent. I've also restricted my cataloguing work
to 8-bit Commdores, so you won't find a lot of Amiga coverage here unless it intersects with 8-bit topics in some way.</p>

<p>The current version of the CBM Magazine Index is running on a free Heroku dyno which enforces strict limitations on the size of the database.
After denormalizing my schema, I am left with room for about 9,000 articles. That should provide enough space to complete the Phase I cataloging of
<i>Compute!'s Gazette</i> (including the disk-only issues), <i>dieHard</i>, <i>geoWorld</i>, <i>Info</i>, <i>Commodore World</i>, <i>Transactor</i>,
<i>RUN</i>, <i>The TORPET</i>, and <i>TPUG Magazine</i>. There will likely be enough space for <i>Ahoy!</i> and <i>Commodore Magazine</i>
(including <i>Micro</i> and <i>Power/Play</i>) and there <em>may</em> be enough for <i>Compute!</i> but that'll be seriously pushing the limit.
Eventually, I'll want to get onto a more robust server, and catalog even more stuff, but for now, working within limitations is very much in the
spirit of Commodore 8-bit programming, so here we are. Enjoy!</p>

<p>&mdash;Dr. Myles L. Skinner, Curator</p>
